{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss",
    "stylelint-order"
  ],
  "rules": {
    "indentation": 4,
    "max-empty-lines": 2,
    "at-rule-no-unknown": null,
    "order/properties-order": [
        "content",
        "overflow",
        "overflow-X",
        "overflow-Y",
        "flex",
        "flex-grow",
        "flex-shrink",
        "flex-basis",
        "display",
        "flex-direction",
        "flex-wrap",
        "align-items",
        "justify-content",
        "visibility",
        "vertical-align",
        "filter",
        "cursor",
        "list-style",
        "list-style-image",
        "list-style-position",
        "list-style-type",
        "margin",
        "margin-top",
        "margin-right",
        "margin-bottom",
        "margin-left",
        "padding",
        "padding-top",
        "padding-right",
        "padding-bottom",
        "padding-left",
        "width",
        "min-width",
        "max-width",
        "height",
        "min-height",
        "max-height",
        "outline",
        "outline-color",
        "outline-style",
        "outline-width",
        "border",
        "border-top",
        "border-top-color",
        "border-top-style",
        "border-top-width",
        "border-right",
        "border-right-color",
        "border-right-style",
        "border-right-width",
        "border-bottom",
        "border-bottom-color",
        "border-bottom-style",
        "border-bottom-width",
        "border-left",
        "border-left-color",
        "border-left-style",
        "border-left-width",
        "border-color",
        "border-style",
        "border-width",
        "border-collapse",
        "border-spacing",
        "background",
        "background-attachment",
        "background-color",
        "background-image",
        "background-position",
        "background-position-x",
        "background-position-y",
        "background-repeat",
        "color",
        "font",
        "font-family",
        "font-size",
        "font-size-adjust",
        "font-stretch",
        "font-style",
        "font-variant",
        "font-weight",
        "letter-spacing",
        "line-break",
        "line-height",
        "text-align",
        "text-align-last",
        "text-decoration",
        "text-indent",
        "text-justify",
        "text-overflow",
        "text-shadow",
        "text-transform",
        "text-autospace",
        "text-kashida-space",
        "text-underline-position",
        "white-space",
        "word-break",
        "word-spacing",
        "word-wrap",
        "float",
        "position",
        "top",
        "right",
        "bottom",
        "left",
        "z-index",
        "transform",
        "transform-origin",
        "transform-style",
        "backface-visibility",
        "will-change",
        "transition",
        "animation"
    ]
  }
}