// Fonts
$hindGuntur: 'Hind Guntur', sans-serif;

///
// Base global defaults
///
$base-background: #fff;
$base-color: #000;
$base-font-size: 16px;
$base-line-height: 1.5;
$base-font-family: $hindGuntur;

/// Generic spacing unit
$spacing-unit: 20px;

///
// Colors
///
$color-config: (
    'light-gray': #dbdbdb,
    'primary-black': #201917,
    'secondary-black': #222,
    'tertiary-black': #111,
    'brown': #5b3a27,
    'white': #fff,
    'black': #000,
);

///
// Timer Map for @function timer();
///
$timer-config: (
    'normal': 0.4s,
    'slow': 0.75s,
    'fast': 0.15s,
);

///
// Z-index Map for @function z();
///
$z-index-config: (
    'nav': auto,
    'fancybox-overlay': auto,
    'fancybox-case-study': 50000,
    'navigation': 100000,
    'header': 200000,
    'dropdown': 300000,
    'fancybox-trump': 500000,
    'share': 700000,
);
