/* ------------------------------------ *\
    #FORMS
\* ------------------------------------ */

input,
textarea,
select {
    border: 1px solid color('grey');
    border-radius: 0;
    background: #fff;
}
