/* ------------------------------------ *\
    #SPACING UTILITIES
\* ------------------------------------ */

// Spacing utilities at different breakpoints
$spacing-config: (
    'none': 0,
    '5': 5px,
    '10': 10px,
    '15': 15px,
    '20': 20px,
    '30': 30px,
    '40': 40px,
    '50': 50px,
    '60': 60px,
    '100': 100px,
);

@include loop-breakpoints() {
    @each $spacing-name, $spacing-value in $spacing-config {
        .u-pt-#{$spacing-name}#{&} {
            padding-top: $spacing-value !important;
        }
    }
}

@include loop-breakpoints() {
    @each $spacing-name, $spacing-value in $spacing-config {
        .u-mb-#{$spacing-name}#{&} {
            margin-bottom: $spacing-value !important;
        }
    }
}
