.footer {
    display: flex;
    align-items: center;
    flex: 1 1 250px;
    background-color: color('black');
    color: color('white');
    overflow: hidden;

    @include media('sm') {
        align-items: flex-end;
    }

    @include media('md') {
        flex: 1 1 328px;
    }
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

    @include media('sm') {
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row;
    }
}

.footerMenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;

    @include media('sm') {
        justify-content: flex-start;
    }
}

.footerItem {
    margin: 3%;
}

.logo {
    font-size: rem(70px);
    font-weight: 400;
    line-height: 1;

    @include media('sm') {
        font-size: rem(120px);
    }
}
